#bgr {
  background-image: url('./img/bacground.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 2rem;
  position: relative;
}
#logo {
  display: block;
  position: absolute;
  top: 4%;
  right: 8%;
  //width: 400px;
  @media (max-width: 900px) {
    position: relative;
    margin-left: auto;
    max-width: 30%;
  }
}
img {
  max-width: 100%;
}
h1 {
  color: #e52f23ff;
  @media (max-width: 600px) {
    font-size: 2.8rem !important;
  }
}
.points {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2rem;
}
.region-count {
  color: #e52f23ff;
  text-decoration: underline dashed;
  //text-underline-offset: 4px;
}